In [1]:
import pandas as pd

In [2]:
l = []

alphabet = [
    'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o',
    'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'
]
for alpha in alphabet:
    print('Scraping table', alpha)
    url = f'https://www.basketball-reference.com/players/{alpha}/'
    table = pd.read_html(url)
    l.append(table[0])

NBA_player = pd.concat([
    l[0], l[1], l[2], l[3], l[4], l[5], l[6], l[7], l[8], l[9], l[10], l[11],
    l[12], l[13], l[14], l[15], l[16], l[17], l[18], l[19], l[20], l[21],
    l[22], l[23], l[24], l[25]
])
NBA_player.to_csv('NBA_players_data.csv')
NBA_player

Scraping table a
Scraping table b
Scraping table c
Scraping table d
Scraping table e
Scraping table f
Scraping table g
Scraping table h
Scraping table i
Scraping table j
Scraping table k
Scraping table l
Scraping table m
Scraping table n
Scraping table o
Scraping table p
Scraping table q
Scraping table r
Scraping table s
Scraping table t
Scraping table u
Scraping table v
Scraping table w
Scraping table x
Scraping table y
Scraping table z

,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240,"June 24, 1968",Duke
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235,"April 7, 1946",Iowa State
2,Kareem Abdul-Jabbar*,1970,1989,C,7-2,225,"April 16, 1947",UCLA
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162,"March 9, 1969",LSU
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223,"November 3, 1974","Michigan, San Jose State"
...,...,...,...,...,...,...,...,...
15,Ante Žižić,2018,2020,F-C,6-10,266,"January 4, 1997",NaN
16,Jim Zoet,1983,1983,C,7-1,240,"December 20, 1953",Kent State University
17,Bill Zopf,1971,1971,G,6-1,170,"June 7, 1948",Duquesne
18,Ivica Zubac,2017,2022,C,7-0,240,"March 18, 1997",NaN
19,Matt Zunic,1949,1949,G-F,6-3,195,"December 19, 1919",George Washington